<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

		{% if is_granted('ROLE_ADMIN') %}
		    <a href="...">Delete</a>
		{% endif %}
    	
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
